body{
    margin: 0;
    background-color: aquamarine;
}
.container{
    margin: 0;
    height: 100vh;
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100vh;
    gap: 0; */
    display: flex;
    flex-direction: row;
}
.left{
    margin: 0;
    height: 100vh;
    width: 50%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    margin: 0;
    height: 100vh;
    width: 50%;
    background-color: blue;
    display: flex;
    flex-direction: column;
}